<div>
  <h2>{{ movie().name }}</h2>
  <div>ID: {{ movie().id }}</div>
  <div>Genre: {{ movie().genre }}</div>
  <div>Rating: {{ movie().rating }}</div>
  
  <div>
    <label for="name">Name:</label>
    <input id="name" type="text" [(ngModel)]="movie().name" />
  </div>
  
  <div>
    <label for="genre">Genre:</label>
    <input id="genre" type="text" [(ngModel)]="movie().genre" (keyup.escape)="movie().genre = ''" />
  </div>
  
  <div>
    <label for="rating">Rating:</label>
    <input id="rating" type="number" [(ngModel)]="movie().rating" />
  </div>
</div>
